<title>Register-Don't have an account? sign up</title>
<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/61/61985.png">
<body>
<h1>Sign Up Below</h1>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    <p>Username:</p>
    <input id="regbox" type="text" name="username">
    <p>Email:</p>
    <input id="regbox" type="email" name="email">
    <p>Password:</p>
    <input id="regbox" type="password" name="password">
    <p>Re-enter password:</p>
    <input id="regbox" type="password" name="password2"><br><br>
    <input id="signin" type="submit" name="signin" value="Sign In">
</form>
</body>